    .emptyMessage {
        margin: 20px 10px 0px 10px;
        font-size: 24px;
        text-align: center;
        line-height: 1.2;

        @media (max-width: 768px) {
            font-size: 16px;
        }
    }

