.button {
    display: flex;
    column-gap: 5px;
    align-items: center;
    color: inherit;

    .content {
        font-size: 15px;
        line-height: 20px;
        font-weight: var(--fw-medium);
    }

    &:hover {
        color: #fff;
    }
}
