.age {
	display: flex;
	block-size: 16px;
	inline-size: var(--fs-500);
	justify-content: center;
	align-items: center;
	color: white;
	background-color: rgba(16, 14, 25, 0.5);
	border-radius: 4px;
	font-size: 12px;
	line-height: 1;
}
