.container {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: hsla(0,0%,100%,.72);
    display: grid;
    row-gap: 8px;

    span {
        color:hsla(0,0%,100%,.4)
    }

    .icons {
        display: flex;
        column-gap: 6px;
    }
}
.desktop{

}
.tablet{
    display: flex;
    justify-content: space-between;
}
