.container {
    row-gap: 10px;


    h3 {
        padding-block-end: 10px;
        font-size: 15px;
        font-weight: var(--fw-bold);
        line-height: 20px;
    }

    .list {
        display: grid;
        font-weight: 400;
        color: hsla(0,0%,100%,.48);
    }

    .column {
        @extend .list;
        grid-auto-flow: column;
        grid-template-rows: repeat(11, 1fr);
        column-gap: 10px;
    }

    li {
        padding-block: 5px;

        a {
            font-size: 15px;
            line-height: 15px;
            display:block;
            &:first-letter{
                text-transform: uppercase;
            }
        }

        a:hover {
            color: white;
        }
    }
}
