.item {
    --grid-row-slider-item: 1fr max-content;
    --aspect-ratio-slider-item: 3/5;
    --aspect-ratio-slider-img: 153/235;
    --border-radius-slider-item: 8px;
    --gap-slider-item: var(--fs-500);
    display: grid;
    position: relative;
    inline-size: 100%;
    aspect-ratio: var(--aspect-ratio-slider-item);
    /*padding-inline-end: var(--gap-slider-item);*/
    transition: transform 0.5s ease-in-out;
    background-color: inherit;
    grid-template-rows: var(--grid-row-slider-item);

    figcaption {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .image_container {
        position: relative;
        height: 100%;
        bottom: 0;
        transform: scale(1);
        transition-duration: 0.2s;

        &:hover {
            transform: scale(1.05);
            bottom: 5px;
            transition-duration: 0.2s;
        }

        img {
            max-inline-size: 100%;
            block-size: auto;
            object-fit: cover;
            aspect-ratio: var(--aspect-ratio-slider-img);
            border-radius: var(--border-radius-slider-item);
        }

        .restriction {
            position: absolute;
            bottom: 4px;
            right: 4px;
        }
    }
}
