.container {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 80px;
    min-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--clr-dark-blue);
    padding-inline: 20px;
    justify-items: center;

    & > * {
        border-top: 2px solid #312b45;
        padding-block: 32px;
    }

    @media screen and (max-width: '1000px') {
        margin-bottom: 18px;
    }
}
