.container {
    display: grid;
    grid-auto-flow: column;
    column-gap: 15px;
    justify-content: flex-start;
    inline-size: 100%;
    font-size: 15px;
    font-weight: var(--fw-bold);
    border-bottom: 2px solid rgba(255,255,255,0.3);
}
