.container {
    block-size: 100%;
    border-left: 1px solid hsla(0, 0%, 100%, 0.48);

    li {
        padding-block: 5px;
        position: relative;
        padding-inline: 10px;
    }

    li:hover {
        &::before {
            content: '';
            position: absolute;
            block-size: 100%;
            top: 0;
            left: -1px;
            border-left: 1px solid white;
        }
    }
}
