.container {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    background-color: rgb(31, 27, 46);
    padding-inline: 20px;
    padding-block: 30px 30px;
    inline-size: 100%;
    border-top: 1px solid hsla(0,0%,100%,.48);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
