.container{
    display: flex;
    column-gap: 20px;
    block-size: 40px;
    button {
        block-size: 100%;
        min-inline-size: 40px;
    }
}
@media only screen and (max-width: 1160px){
    .container{
        grid-area: buttons;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 40px;
        gap: 10px;

        & button:first-child{
            grid-column: 1/-1;
        }

        button{
            inline-size: 100%;
        }
    }
}