.nav {
    ul {
        display: grid;
        row-gap: var(--fs-500);

        li {
            font-size: 15px;
            font-weight: var(--fw-medium);

            a {
                box-shadow: 0 2px 0 #7e798f,inset 0 0 0 #7e798f;
            }
        }
    }
}
