.gallery {
    overflow: hidden;
    display: grid;
    column-gap: 12px;
    padding-block-start: var(--fs-500);
    padding-block-end: 8px;
    --item-amount: var(--amount);
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - calc(12px * (var(--item-amount) - 1))) / var(--item-amount));
    scroll-snap-type: x mandatory;
    overflow-x: auto;

    &::-webkit-scrollbar {
        background: transparent;
        width: 5rem;
        height: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: #2e2844;
        border-radius: 2px;
    }
}
