.carousel {
    overflow: hidden;
    display: grid;
    padding-block-start: var(--fs-500);
    padding-inline: 12px;
    --item-amount: var(--amount);
    margin-inline: -12px -36px;
}

.carousel_slider {
    @extend .carousel;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - 1px + 1px) / var(--item-amount));
}

.carousel_list {
    @extend .carousel;
    grid-template-columns: repeat(var(--item-amount), 1fr);
    row-gap: var(--fs-500);
}

.carousel_collection {
    @extend .carousel;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - 1px + 1px) / var(--item-amount));
}
