.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;

    h3{
        padding-block-end: 20px;
        font-size: var(--fs-500);
    }

    .imageContainer{
        position: relative;
        aspect-ratio: 2/3;
        inline-size: 200px;
    }
}