.container {
    max-inline-size: 400px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    block-size: 100%;
    p {
        font-size: var(--fs-500);
        font-weight: var(--fw-bold);
        color: #a5a1b2;
    }
}
