.container {
    z-index: 1001;
    position: fixed;
    bottom: 0;
    background-color: rgba(31,27,46,.88);
    block-size: 48px;
    inline-size: 100%;

    .content {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: minmax(40px, 120px);
        margin-inline: auto;
        inline-size: fit-content;
        justify-items: center;
        padding-block: 8px 4px;
    }
}
