.container {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    width: 95%;
    height: 162px;
    transition: 0.3s;
    border-radius: 10px;
    background-color: #1f1b2e;
    cursor: pointer;
    padding: 15px;

    &:hover {
        background-color: #322b49;
    }

    .footer{
        display: flex;
        justify-content: space-between;
    }
}
