.player{
    grid-area: player;
}
.buttons{
    grid-area: buttons;
}
.description{
    grid-area: description;
}
.person{
    grid-area: person;
}
.rating{
    grid-area: rating;
}
.info{
    grid-area: info;
}