.icon {
    font-weight: var(--fw-regular);
    display: inline;
    line-height: 1;
}
.size_6{
    font-size: 6px;
}
.size_12{
    font-size: 12px;
}
.size_16{
    font-size: 16px;
  
}
.size_20{
    font-size: 20px;
    
}
.size_32{
    font-size: 32px;
}
.size_64{
    font-size: 64px;
}



.search:before {
    content: "\E381";
}
.home:before {
   content: "\E237";
}
.catalog:before {
    content:"\E081";
}
.tv:before {
    content: "\E406";
}
.dots:before {
    content: "\E27D";
}
.close:before {
    content: "\E09F";
}
.diamond:before {
    content: "\E336";
}
.reward:before {
    content: "\E087";
}
.purchases:before {
    content: "\E29A";
}
.bookmark:before {
    content: "\E160";
}
.watch:before {
    content: "\E232";
}
.payment:before {
    content: "\E075";
}
.invite:before {
    content: "\E021";
}
.avatar:before {
    content: "\E055";
}
.bookmark2:before {
    content: "\E15F";
}
.arrow:before {
    content: "\E3A0";
}
.magic_wand:before {
    content: "\E3AB";
}
.star:before {
    content: "\E344";
}
.eye:before {
    content: "\E22A";
}
.phone:before {
    content: "\E06D";
}
.mail:before {
    content: "\E103";
}
.close:before {
    content: "\E09F";
}
.arrowDown:before {
    content: "\E033";
}
.arrowUp:before {
    content: "\E04C";
}
.arrowRight:before {
    content: "\E047";
}
.arrowLeft:before {
    content: "\E040";
}
.megaphon:before {
    content: "";
}
.thumbsUp:before {
    content: "\E400";
}
.thumbsDown:before {
    content: "\E3F6";
}
.reply:before {
    content: "\E39F";
}
.filter:before {
  content:  "\E3B6";
}