.container {
    cursor: pointer;
    display: grid;
    place-items: center;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    block-size: 32px;
    inline-size: 32px;
    position: relative;
}
