.area_A{
    grid-area: A;
}
.area_B {
    grid-area: B;
}
.area_C {
    grid-area: C;
}
.area_D {
    grid-area: D;
}
.area_E {
    grid-area: E;
}
.area_F {
    grid-area: F;
}
.area_G {
    grid-area: G;
}