.buttonContainer {
    display: flex;
    column-gap: 20px;
    padding-block: 20px;
    justify-content: center;

    button {
        padding: 8px;
        border-radius: 8px;
        min-inline-size: 100px;
    }
}
