.container {
    /*    display: grid;
    grid-template-areas: "text button" "slider slider";
*/

    .header {
        display: flex;
        justify-content: space-between;

        .text {
            display: grid;
            /*grid-area: text;*/

            h1 {
                font-size: var(--fs-500);
                font-weight: var(--fw-bold);
            }

            p {
                font-size: 15px;
                font-weight: 400;
                line-height: 20px;
                color: #a5a1b2;
            }
        }

        .slider {
            /*grid-area: slider;*/
        }

        button {
            /*grid-area: button;*/
            justify-self: flex-end;
            block-size: 32px;
            inline-size: 127px;
            font-size: var(--fs-300);
            line-height: 16px;
            font-weight: var(--fw-medium);
            border: 1px solid rgba(255, 255, 255, 0.32);
            background-color: transparent;

            &:hover {
                border-color: rgba(255, 255, 255, 0.72);
                opacity: 1;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .container {
        grid-template-areas: 'text' 'slider' 'button';
        row-gap: 20px;

        button {
            inline-size: 100%;
        }
    }
}
