.container {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 104px;
    block-size: 104px;
    overflow: hidden;
    border-radius: 20px;
    background: -webkit-gradient(linear, left top, left bottom, from(#a869f0), to(#834cc2));
    background: -webkit-linear-gradient(top, var(#a869f0) 0%, #834cc2 100%);
    background: -o-linear-gradient(top, #a869f0 0%, #834cc2 100%);
    background: linear-gradient(180deg, #a869f0 0%, #834cc2 100%);
    box-shadow: 0 0 104px #a869f0;

    svg {
        block-size: 60px;
        inline-size: 60px;
    }
}
