.input {
    inline-size: 100%;
    -webkit-appearance: none;
    block-size: 10px;
    border-radius: 10px;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        block-size: 20px;
        inline-size: 20px;
        border-radius: 50%;
        background-color: #ea003d;
        cursor: pointer;
        margin-block-start: -5px;
    }

    &::-webkit-slider-runnable-track {
        block-size: 10px;
        border-radius: 10px;
        background: linear-gradient(to right,#ea003d, #ea003d var(--track), #a5a1b2 var(--track), #a5a1b2);
    }

    &::-ms-track {
        background: transparent;
        border-color: transparent;
        color: transparent;
    }


    &::-ms-fill-lower {
        background-color: grey;
    }

    &::-ms-fill-upper {
        background-color: grey;
    }
}
