.button {
    background-color: transparent;
    color: inherit;
    inline-size: max-content;

    .clearFilters {
        padding: 5px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: color 0.3s ease 0s;

        @media (hover: hover) {
            &:hover {
                color: #c4053a;
            }
        }
    }
}
