.button {
    block-size: 32px !important;
    font-size: var(--fs-300);
    font-weight: var(--fw-medium);
    padding-inline: 11px;
    background-image: linear-gradient(270deg, #ea003d, #c447ff);
    background-origin: border-box;
}
