.container {
    display: grid;
    grid-template-columns: 1fr 536px;
    overflow-y: hidden;
    width: 100%;

    @media screen and (max-width: 879px) {
        grid-template-columns: 1fr 256px;
    }

    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr min-content;
        background-color: #1f1b2e;
        border-radius: 10px;
        padding: 24px;
        row-gap: 20px;
        grid-template-rows: min-content;
        width: 100%;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        @media screen and (max-width: 600px) {
            grid-column: 1;
            grid-row: 2;
        }
    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
