.button {
    display: flex;
    align-items: center;
    justify-content: center;
    block-size: 40px;
    inline-size: 100%;
    outline: none;
    font-size: 14px;
    font-weight: var(--fw-bold);
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.dark {
    background-color: var(--clr-dark-700);

    &:hover {
        background-color: #2e2844;
    }
}


.red {
    background-color: #ea003d;

    &:hover {
        background-color: #ff0f4d;
    }
}

.mini{
    --btn-size: 40px;
    inline-size: var(--btn-size);
    block-size: var(--btn-size);
}

.noStyle{
    background: inherit;
    outline: none;
}