.navbar ul {
    display: flex;
    column-gap: 16px;
    margin-inline-start: 32px;


    li {
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        color: hsla(0,0%,100%,.48);


        &:hover {
            color: #fff;
        }
    }
}
