.wrapper {
    inline-size: 100%;
    block-size: 100%;
    background-color: #07050e;
    padding-block-start: 30px;

    .container {
        display: grid;
        inline-size: 100%;
        margin-inline: auto;
        max-inline-size: 290px;
        row-gap: 10px;

        & button,
        input {
            border-radius: 8px;
        }

        & form {
            display: grid;
            row-gap: 10px;
        }
    }
}
