.container {
    padding: 16px;

    h1 {
        font-size: var(--fs-500);
        padding-block-end: 20px;
        font-weight: var(--fw-medium);
    }

    .content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 16px;

       
    }
}
