    .no-hover {
        position: relative;
        /*inline-size: 100%;*/
        margin-block-end: 20px;
        max-inline-size: var(--max-width);
        margin-inline: auto;

        .content {
            display: grid;
            column-gap: 16px;
            position: relative;
            inline-size: 100%;
            grid-template-columns: max-content 1fr repeat(4, max-content);
            align-items: center;
            padding-inline: 12px;


            .navbar {
                display: flex;
                block-size: 100%;
            }
        }
    }

    .hover {
        @extend .no-hover;
        background-color: rgb(31, 27, 46);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

