.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 12px;
    padding-block-start: var(--fs-500);

    & > button {
        block-size: 48px;
        font-weight: var(--fw-medium);
        line-height: 20px;

        &:nth-child(1) {
            background-image: url(https://solea-parent.dfs.ivi.ru/picture/bypass/teaserTilePattern_a.svg);
        }
    }
}

@media (max-width: 865px) {
    .container {
        grid-template-columns: 1fr;
    }
}
