.container {
    display: grid;
    grid-template-columns: max-content 1fr;

    .cardBlock {
        display: grid;
        grid-template-columns: repeat(4, 180px);
        grid-template-rows: repeat(2, 100px);
        gap: 20px;
        padding-inline-end: 20px;
        border-right: 1px solid rgba(255,255,255, 0.5);
    }

    .authButton {
        padding: 10px;

        button, a{
            text-align: center;
        }
    }
}