.container {
    block-size: 60px;
    background-color: var(--clr-dark-700);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    .vote {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: var(--fw-bold);
        line-height: var(--fs-500);

        &:hover {
            background-color: red;
            border-radius: 10px;
        }
    }
}
