.container {
    display: grid;
    grid-auto-rows: min-content;
    justify-content: center;
    row-gap: 20px;
    font-size: 15px;
    font-weight: var(--fw-regular);
    line-height: 15px;
    color: hsla(0,0%,100%,.72);
    text-align: center;

    .info_container {
        display: grid;
        row-gap: 6px;
        justify-items: center;

        .top, .bottom {
            display: flex;
        }

        .top {
            column-gap: 6px;
        }

        .bottom > span:not(:first-child)::before {
            content: "";
            inline-size: 2px;
            block-size: 2px;
            background-color: hsla(0,0%,100%,.72);
            text-align: center;
            margin-block-end: 3px;
            display: inline-block;
            margin-inline: 6px;
        }
    }
}
