.wrapper {
    max-inline-size: var(--max-width);
    margin-inline: auto;
    padding-block: 20px;
}
@media (max-width: 1279px){
    .wrapper{
        margin-inline: var(--margin-page-primary);
    }
}
