.container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .left {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: max-content 1fr;
        row-gap: 20px;
        column-gap: 10px;

        & div:first-child {
            grid-row: 1/3;
        }
    }
}
