.container {
    position: relative;
    padding-block: 10px;
    font-size: 15px;
    line-height: 20px;
    font-weight: var(--fw-medium);
    cursor: pointer;
    text-align: center;
    display: flex;
    column-gap: 3px;
    justify-content: center;

    sup {
        font-size: 13px;
        font-weight: var(--fw-normal);
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        line-height: 13px;
        color: #a5a1b2;
    }
}
