.container {
    position: relative;
    padding-block: 10px;
    font-size: 15px;
    line-height: 20px;
    font-weight: var(--fw-medium);
    cursor: pointer;
    inline-size: 100px;
    text-align: center;
    display: flex;
    column-gap: 3px;
    justify-content: center;

    sup {
        font-size: 13px;
        font-weight: var(--fw-normal);
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        line-height: 13px;
       color: #a5a1b2;
    }
}
.container[data-status="true"]:before {
    bottom: 0;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    right: 0;
    transition: background-color .4s;
    background-color: #f30745;
    transition-duration: 80ms;
}