.link {
    display: flex;
    block-size: 100%;
    background-color: #1e1b2e;
    text-align: center;
    align-items: center;
    color: #a5a1b2;
    font-size: 15px;
    line-height: 20px;
    font-weight: var(--fw-medium);
    justify-content: center;
}
