.container {
    position: absolute;
    top: 100%;
    left: 0;
    block-size: 450px;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--clr-dark-blue);
    padding-inline: 20px;
    padding-block: 30px 60px;
    inline-size: 100%;
    border-top: 1px solid hsla(0,0%,100%,.48);

    .left {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: max-content 1fr;
        row-gap: 20px;

        & div:first-child{
            grid-row: 1/3;
        }
        
    }
}
