.error {
    display: grid;
}
.active {
    @extend .error;
    font-size: 13px;

    & input {
        border: 1px solid #ea003d;
    }

    & span {
        color: #ea003d;
        vertical-align: middle;
    }
}

.hidden {
    block-size: 20px;
}
.visible {
    grid-template-rows: max-content 20px;
}
