.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(6, max-content);
    column-gap: 40px;
    row-gap: 20px;
    grid-template-areas: "player info" "player person" "player vidinfo" "player rating";

    @media only screen and (max-width: 1160px){
        grid-template-columns: 2.5fr 1.5fr;
        grid-template-areas: "info info" "player player" "person  buttons" "vidinfo ." "rating .";
    }

    @media only screen and (max-width: 880px){
        grid-template-columns: 1fr;
        grid-template-areas: "info" "player" "person" "rating" "vidinfo";
    }
}
