.wrapper {
    flex: 0 0 calc(50% - 6px);
    @media (max-width: 768px) {
        flex: 0 0 100%;
    }
    block-size: 100%;
   
    width: 100%;
    
    border-radius: 12px;
    

    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;

    @media (max-width: 480px) {
        gap: 10px;
    }
    input{
        block-size: 100%;
    }
}