.container {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    row-gap: 10px;
    column-gap: 20px;

    .dropdownItem {
        color: #a5a1b2;
        cursor: pointer;
        &:hover{
            color: #fff;
        }
    }
}
