.container {
    display: flex;
    flex-direction: column;
    color: white;
    max-inline-size: 800px;
    inline-size: 100%;
    margin-inline: auto;
    row-gap: 24px;

    h1 {
        font-size: 55px;
        font-weight: 700;
    }

    margin-top: 100px;

    input {
        width: 100%;
        height: 30px;
        border: none;
        outline: none;
        border-radius: 5px;
        box-shadow: 0 0 0 2px gray;
        font-size: 18px;
        padding: 5px;

        &::placeholder {
            color: rgb(166, 166, 166);
        }
    }
}
