.container {
    display: grid;
    justify-items: center;
    align-items: center;
    row-gap: 4px;
   

    .text {
        font-size: 10px;
        font-weight: var(--fw-medium);
        line-height: 12px;
        color: #a5a1b2;
    }
}
